
        @import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


        h1{

            color: white;
            font-family: sans-serif;
        }
        * {
            margin: 0px;
            box-sizing: border-box;
        }

        h2{
            font-family: sans-serif, Arial, Helvetica, sans-serif;
            color: white;
        }

        body {
            background: url("fotos/pote\ copiar.png");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            font-family: sans-serif;
            font-size: 16px;
        }

        nav li {
            text-align: center;
            flex-grow: 1;
        }

        nav ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #4a6236;
            font-family: sans-serif;
            display: flex;
            align-items: center;
            height: 60px;


        }

        nav {
            height: 50px;
            width: 100%;
            text-align: center;
            position: sticky;
            top: 0;
            z-index: 3;

        }

        body,
        html {
            height: 100%;
            margin: 0;
        }

        .bg {
            height: 600px;
        }


        main {
            height: 800px;
            background-color: rgba(0, 0, 0, 0.815);
            z-index: -1;
        }

        .text {
            color: white;
            text-align: left;

        }

        .img-main {
            position: absolute;
            top: 580px;
            left: 400px;
        }


        .caixa {
            padding-left: 50px;
            padding-top: 100px;
            padding-right: 50px;
            display: flex;
        }

        .cx1 {
            padding-left: 50px;
            padding-top: 75px;
            padding-right: 50px;
        }

        .topnav {
            background-color: #333;
            overflow: hidden;
        }

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: #4a623694;

        }


        .topnav a.active {
            background-color: #4a623694;
            color: white;
        }


        .topnav .icon {
            display: none;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .img-main {
            height: 300px;
        }

        .img-header {
            height: 50px;
            margin: 5px;
        }

        .img-main2 {
            height: 300px;
            margin: 5px;
        
        }

        .container {
            display: flex;
            flex-direction: column;
      
        }

        svg{
            position: fixed;
            right: 10px;
            bottom: 10px;
        }

        .myheader{
            align-items: end;
        }
        #logo{
          width: 50px;
          height: 50px;
       position: absolute;
       right: 10px;
        }
        
       
        